:root{
    --colorHeading : #4cb34c;
    --colorNav : #205120;
    --colorHoverP : #117e11;
    --backgroundColor : #c8d4c8c6;
}
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.header {
    background-color: var(--backgroundColor);
}
.cursor-default {
    cursor: default;
    color: var(--colorHeading);
    font-size: 3rem;
    letter-spacing: 1.5px;
}
.w-15{
    width: 20%;
}
.navbar a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorNav);
    font-weight: 500;
}
.navbar a:hover{
    color: var(--colorHoverP);
}
.main{
    cursor: default;
}
.welcome{
    letter-spacing: 2px;
    font-size: 4rem;
    width: 150%;
    color: #478f47d7;
}
.text{
    text-indent: 15px;
    color: #30322f;
}