@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
.afacad-flux-100 {
font-family: "Afacad Flux", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
font-variation-settings:
    "slnt" 0;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    }
.justify {
    text-align: justify;
}
.hidden {
    display: none;
}
.allow-dekstop {
    display: block;
}
:root{
    --colorHeading : #02fa02;
    --colorNav : #2cf803;
    --colorHoverP : #bd3d3d;
    --backgroundColor : #000000;
}
@media (max-width: 768px) {
    .allow-dekstop {
        display: none;
    }
    .mobile {
        text-size-adjust: 50%;
    }
    .m-center {
        text-align: center;
    }
    .m-size {
        text-size-adjust: 30%;
    }
    .w-15{
        width: 0%;
    }
    .welcome{
        letter-spacing: 20px;
        font-size: 2rem;
        width: 0%;
    }
    .hidden {
        display: block;
    }
}
    
}
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: #000000;
}
.header {
    background-color: var(--backgroundColor);
}
.cursor-default {
    cursor: default;
    color: var(--colorHeading);
    font-size: 3rem;
    letter-spacing: 1.5px;
}
.w-15{
    width: 20%;
}
.navbar a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--colorNav);
    font-weight: 500;
}
.navbar a:hover{
    color: var(--colorHoverP);
}
.main{
    cursor: default;
}
.welcome{
    letter-spacing: 20px;
    font-size: 2rem;
    width: 0%;
    color: #2eb32ed7;
}
.text{
    text-indent: 15px;
    color: #b8bbb8;
}
.bold {
    font-weight: 700;
}

.margin {
    margin-right: -80px;
}